<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Period Blocks ([[ Object.keys(parameter_set.parameter_set_periodblocks).length]]) 
        </span>      

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="send_load_help_doc('Staff Parameters periodblocks')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span> 
                
    </div>
    <div class="card-body" >        

        <div class="row justify-content-center">
            <!-- periodblock settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                    <table class="table table-condensed"> 
                        <thead>
                            <tr>                               
                                <th scope="col" class = "m-1 p-1">
                                    Start Period
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                   End Period
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Treatment
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Range Inheritance
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Instruction Popup
                                </th>  
                            </tr>
                        </thead>
                        <tbody id="periodblock_list">
                            <tr v-for="(p, index) in parameter_set.parameter_set_periodblocks_order" 
                                v-bind:key="p"
                                :set="temp_p=parameter_set.parameter_set_periodblocks[p]"
                                >                               
                                <td v-on:click="show_edit_parameter_set_periodblock(p)" 
                                    class="player_table_cell">
                                    [[temp_p.period_start]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_periodblock(p)" 
                                    class="player_table_cell">
                                    [[temp_p.period_end]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_periodblock(p)" 
                                    class="player_table_cell">
                                    <span v-if="temp_p.parameter_set_treatment && 
                                                temp_p.parameter_set_treatment in parameter_set.parameter_set_treatments">
                                        [[parameter_set.parameter_set_treatments[temp_p.parameter_set_treatment].id_label_pst]]
                                    </span>
                             </td>
                            <td v-on:click="show_edit_parameter_set_periodblock(p)" 
                                class="player_table_cell">
                                [[temp_p.inheritance]]
                            </td>
                             <td v-on:click="show_edit_parameter_set_periodblock(p)" 
                                class="player_table_cell">
                                [[temp_p.help_doc_title]]
                            </td>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>  

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <button class="btn btn-outline-success btn-sm"
                        type="button"
                        title="Add periodblock"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="send_add_parameter_set_periodblock()">
                        Add <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 