<div class="card" id="graph_card" style="width: 1885px;">                  
    <div class="card-header fw-bold">                
        <span class="align-middle"></span>

        <span class="float-end">
            <span v-show="reconnecting" class="me-1">
                Connecting <i class="fas fa-cog fa-spin fa-1x"></i>
            </span>
        </span>

        <span class="float-end">
            <button type="button" class="btn btn-link" title="Show Help" v-on:click="send_load_help_doc_subject('subject_stage')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>

                    
        {%if session.parameter_set.test_mode%}
        <span class="float-end">
            <span class="form-check" v-if="is_subject">
                <input class="form-check-input"
                        type="checkbox" 
                        value="" 
                        id="testModeCheckBox" 
                        v-model="test_mode">
                <label class="form-check-label" for="testModeCheckBox">
                Test Mode On
                </label>
            </span>
        </span>
        {%endif%}
        
    </div>
    <div class="card-body">
        
        <!-- the pixi stage -->
        <div class="row">
            <div class="col">         
                <div id="chat_overlay">
                    <div class="text-center fw-bold">
                        Chat
                    </div>
                    
                    {%include "subject/subject_home/the_stage/chat_overlay.html"%}
                </div>

                <canvas class="field" 
                        key="sd_graph" 
                        id="sd_graph_id" 
                        style="border-style: solid;border-width: 1px;"
                        oncontextmenu="return false;"></canvas>                
            </div>
        </div>

        <!-- staff controls -->
        <div class="row" v-if="pixi_mode=='staff' && session">
            
            
    
        </div>

        <div class="row justify-content-center mt-2" v-show="session.started" v-if="pixi_mode=='subject'">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" 
                                class="form-control form-control-lg" 
                                placeholder="Chat Text" 
                                v-model="chat_text"
                                id="id_chat_text"
                                aria-label="Chat Text"                           
                                v-on:keyup.enter="send_chat()"
                                maxlength="100"
                                aria-describedby="send_chat_id">
                            <button class="btn btn-outline-primary btn-lg"
                                    type="button" 
                                    id="send_chat_id" 
                                    v-bind:disabled="reconnecting || working || session.started===false || session.world_state.finished"
                                    v-on:click="send_chat()">Chat <i class="far fa-comments"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-end pe-4 text-secondary">
                        [[chat_text.length]]/100
                    </div>
                </div>
            </div>
        </div>
       
    </div>                    
</div> 